<div class="grid grid-cols-12 mb-2">
  <div class="col-span-1">
    <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
      {{ svg src="o-external-link" class="h-5 w-5 text-blue-500" }}
    </a>
  </div>

  <div class="col-span-1">
    <a href="{{ url }}">
      {{ svg src="o-link" class="h-5 w-5 text-blue-500" }}
    </a>
  </div>

  <div class="col-span-7 hover:text-blue-500">
    <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
      {{ title }}
    </a>
  </div>

  <div class="col-span-3">
    {{ campingtags }}
    <a href="{{ url }}" class="text-blue-500 mr-4">{{ title | title }}</a>
    {{ /campingtags }}
  </div>
</div>
