<div class="w-3/4 mx-auto mt-8 ">
  <h2 class="text-3xl font-extrabold text-blue-800 mb-4">{{ title }}</h2>

  <div class="mb-6">
    <a href="{{ link to="campingtags" }}" class="text-blue-500">
      Camping Tags
    </a>
  </div>

  {{ collection:camping as="camping" }}

  <div>
    {{ if no_results }}
    <div class="text-xl font-bold text-gray-600">
      No entries yet.
    </div>
    {{ /if }}
  </div>

  <div>
    {{ camping }} {{ partial:camping.summary }} {{ /camping }}
  </div>

  {{ /collection:camping }}
</div>
