<div class="w-2/5 mx-auto mt-8 ">
  <h2 class="text-3xl leading-tight font-extrabold text-blue-800 mb-8">
    {{ title }}
  </h2>

  <div class="px-8 mb-6 pb-2 border-b border-gray-300">
    <div class="flex mb-4">
      <div class="mr-4">
        {{ svg src="o-external-link" class="h-5 w-5 text-black" }}
      </div>
      <a
        href="{{ link }}"
        class="text-blue-500 hover:text-blue-800"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ link }}
      </a>
    </div>

    {{ if campingtags }}
    <div class="flex mb-4">
      <div class="mr-4">
        {{ svg src="s-tag" class="h-5 w-5 text-black" }}
      </div>
      {{ campingtags }}
      <a href="{{ url}}" class="text-blue-500 mr-4">{{ title }}</a>
      {{ /campingtags }}
    </div>
    {{ /if }}

    <div class="flex">
      {{ if notes }}
      <div class="mr-4">
        {{ svg src="s-pencil-alt" class="h-5 w-5 text-black" }}
      </div>
      <div class="markdown text-black">
        {{ notes }}
      </div>
      {{ /if }}
    </div>
  </div>

  <div class="markdown">
    {{ content }}
  </div>
</div>
