<div class="w-3/4 mx-auto mt-8 ">
  <h2 class="text-3xl font-extrabold text-blue-800 mb-8">{{ title }}</h2>

  {{ taxonomy from="campingtags" }}

  <h3 class="text-2xl font-nunito_semibold mb-4 pb-1 border-b border-gray-300">
    {{ title | title }}
  </h3>

  {{ if entries }} {{ entries }}
  <div>{{ partial:camping.summary }}</div>
  {{ /entries }} {{ /if }} {{ /taxonomy }}
</div>
