<div class="w-3/4 mx-auto mt-8 ">
  <h2 class="text-3xl font-extrabold text-blue-800 mb-8">
    {{ title | title }}
  </h2>

  {{ if entries }} {{ entries }}
  <div>{{ partial:camping.summary }}</div>
  {{ /entries }} {{ /if }}
</div>
