<div class="max-w-5xl mx-auto relative mt-16">
  {{ svg src="/assets/site/scratches" class="absolute text-gray-800 mt-8 top-0
  left-0 w-20 hidden md:block" }}
  <article class="py-32 max-w-2xl mx-auto">
    <header class="content mb-16">
      <h1>{{ title }}</h1>
      {{ content | widont }}
    </header>

    {{ collection:articles as="articles" paginate="10" }} {{ if no_results }}
    <h2 class="text-3xl italic tracking-tight">
      Feel the rhythm! Feel the rhyme! Get on up, it's writing time! Cool
      writings!
    </h2>
    {{ /if }} {{ articles }}
    <div class="mb-2">
      <a
        href="{{ url }}"
        class="text-lg hover:text-teal tracking-tight leading-tight font-bold"
      >
        {{ title | widont }}
      </a>
    </div>
    {{ /articles }} {{ paginate }} {{ if prev_page || next_page }}
    <div class="flex justify-between text-xl -mx-16 pt-16 font-bold">
      <a href="{{ prev_page }}" class="{{ ! prev_page ?= 'opacity-25' }}">
        &larr; Back to the future
      </a>
      <a href="{{ next_page }}">
        Forward to the past &rarr;
      </a>
    </div>
    {{ /if }} {{ /paginate }} {{ /collection:articles }}
  </article>
</div>
